/* Principal */
bodyColor = #1A2133
navcolor = #1F2944
containerColor = #131722
colorText = white
selectColor = #49C379
selectColorHover = #49C37966
errorColor = #F8614E
colorDisable = #4E5B8C
colorFirst = #1F2944
containerWidth = 60%
fontSizeSmall = 12px
fontSizeMedium = 14px
fontSizeBig = 16px
fontSizeHuge = 24px

/* student */
borderTab = 1px solid white
borderTabActive = 2px solid selectColor
colorScan = white
borderScan = 2px solid white
borderInfo = 1px solid colorDisable

/* photo */
borderPhoto = 1px solid white

/* attachments */
borderUpload = 1px dashed white