@import 'const.styl'

.titleOpt
  color: selectColor
  border-bottom: 2px solid selectColor
  width: 31px
  
.inputCode
  display: flex
  margin: auto
  padding: 2px 5px
  height: 25px
  border: 1px solid white
  font-size: fontSizeMedium
  background-color: containerColor
  color: white
  width: 170px
  
.sumbitOtp
  display: flex
  position: relative
  justify-content: center
  float: right