@import 'const.styl'

ancho = 120px
alto = 25px

.containerSelect
  position: relative
  margin: 0
  padding: 0
  width: ancho
  
.first
  width: ancho
  height: 100%
  background: colorFirst
  border-right: 1px solid colorFirst
  color: white
  font-size: 13px
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  
.labelFirst
  margin: 0 9px
  
.listOptions
  width: 121px
  display: none
  
.option
  background: white
  padding-left: 5px
  width: 100%
  height: alto 
  margin: 0
  display: flex
  align-items: center
  cursor: pointer
  color: black
  font-size: 13px
  
  &:hover
    color: selectColor
    
  
 
  