@import 'const.styl'

.containerInfo
  background-color: containerColor
  height: 100%
  padding: 15px
  margin: 20px 0
  
.titleInfo
  color: selectColor
  border-bottom: 2px solid selectColor
  width: 110px
  
#id
  width: 23px

#titleAtt
  width: 113px

.iconUser
  display: flex
  align-items: center
  
.textEmail
  font-size: fontSizeMedium
  color: white
  
.textEmail p
  margin: 0

.textEmail i
  margin-right: 14px
  
.contentItem
  display: flex
  flex-wrap: wrap
  
.contentItem p
  margin: 0

.imageID
  width: 100%
  height: 220px
  object-fit: cover

.imageModal
  width: 100%
  object-fit: cover
    
.infoUser
  margin-top: 20px

.imgUser
  padding-left: 0 !important
  
  
.document
  color: white
  cursor: pointer
  
.titleDisable
  color: colorDisable
  border-color: colorDisable

.btn-Modal
  background-color: selectColor
  color: white
