@import 'const.styl'

.messageSucces
  color: white
  font-size: fontSizeMedium
  margin-bottom: 44px

.check
  font-size: 50px
  color: selectColor
  display: flex
  justify-content: center
  margin-bottom: 10px